:root {
    --heading-font-family: "Playfair Display" serif;
    --default-font-family: "Poppins", sans-serif;
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
}

.logo{
    max-height: 40px;
}

nav ul{
    padding: 20px 0;
   
}

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 10px;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in;
}

nav a:hover,
nav li.active a{
    color: var(--branding-color);
}
